*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
@media (max-width: 576px) {
    .container{
        display: grid;
        grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    }

    .header a {
        color: white;
        text-decoration: none;
    }

    .header h1 {
        line-height: 100px;
        color: white;
        text-decoration: none;
    }

    .header {
        font-size: 21px;
        text-align: center;
        background-color: black;
        grid-column: 1 / -1;
        grid-row: 1/ 1;
    }

    .datetime{
        color: gray;
        font-size: 13px;
    }

    .article {
        grid-column: 2 / 12;
        grid-row: 2 / 12;
    }

    .post {
        margin-top: 30px;
    }

    .post h2 {
        text-align: center;
    }

    .text {
        margin-top: 15px;
        white-space: pre-wrap;
    }

    .footer {
        display: grid;
        grid-template: 1fr 1fr/ 1fr;
        grid-column: 1 / -1;
        grid-row: 13/ -1;
        padding: 15px;
        background-color: black;
    }
    .footer a{
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: 15px;
    }

}
