<!DOCTYPE html>
<html lang="pt" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <title>macielti's blog</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1><a href="/">macielti's blog</a></h1>
            </div>
            <div class="article">
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer">
                <a href="/new-post">Make a new post.</a>
                <a href="https://github.com/macielti" target="_blank">Developed with ❤️ by Bruno N. Maciel</a>
            </div>
        </div>
    </body>
</html>
