{% extends "base.html" %}
{% block content %}

        {% if posts.count() == 0 %}
            <h3>No posts found, please make a <a href="/new-post">new post.</a></h3>
        {% else %}
            {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <hr>
                <p style="color:gray; margin-top:0px;">{{post.created.strftime('%b %d, %Y')}}<p>
                <pre>{{post.text}}</pre>
            </div>
            {% endfor %}
        {% endif %}
{% endblock %}
