{% extends "base.html" %}
{% block content %}
        {% if posts.count() == 0 %}
            <h3>No posts found, please make a <a href="/new-post">new post.</a></h3>
        {% else %}
            {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <hr>
                <p class="datetime">{{post.created.strftime('%b %d, %Y')}}</p>
                <p class="text">{{post.text}}</p>
            </div>
            {% endfor %}
        {% endif %}
{% endblock %}
