{% extends "base.html" %}
{% block content %}
    <form style="font-family: sans-serif;" method="post">
        <table>
            <tr>
                <td>Title: </td>
                <td> <input class="title" type="text" name="title" value="{{ value }}" required> <br></td>
            </tr>
            <tr>
                <td> Content: </td>
                <td> <textarea name="content" required></textarea> </td>
            </tr>
        </table>
        <p style="color:red;" >{{ error }}</p>
        <input style="font-size:14px;" type="submit" value="Post">
    </form>
{% endblock %}
