{% extends "base.html" %}
{% block content %}
    <form class="form-post" method="post">

        <label for="title">
            Title
            <input id='title' class="title" type="text" name="title" value="{{ value }}" required>
        </label>
        <label for="textarea">
        Content<br>
            <textarea id="textarea" name="content" wrap="off" required></textarea>
        </label>

        <p style="color:red;" >{{ error }}</p>
        <center><button class="submit" style="font-size:14px;" type="submit">Post</button></center>

    </form>
{% endblock %}
